﻿@model Vidly.Models.Filme

@{
    ViewBag.Title = "Detalhar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Nome)</h2>
<ul>
    <li>Gênero: @Model.GeneroDoFilme.Nome</li>
    <li>Data de Lançamento: @Model.DataLancamento.ToLongDateString()</li>
    <li>Data de Adição: @Model.DataAdicao.ToLongDateString()</li>
    <li>Número em Estoque: @Model.NumeroEmEstoque</li>

</ul>