﻿@model Vidly.ViewModels.FilmeFormViewModel

@{
    /**/

    ViewBag.Title = "FilmeForm";
}

<h2>@Model.Titulo</h2>

@using (Html.BeginForm("SalvarFilme", "Filmes"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Nome)
        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Nome)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DataDeLancamento)
        @Html.TextBoxFor(m => m.DataDeLancamento, "{0:dd/MM/yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DataDeLancamento)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.GeneroDoFilmeId)
        @Html.DropDownListFor(m => m.GeneroDoFilmeId, new SelectList(Model.GeneroDoFilme, "Id", "Nome"), " ", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.GeneroDoFilmeId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NumeroEmEstoque)
        @Html.TextBoxFor(m => m.NumeroEmEstoque, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NumeroEmEstoque)
    </div>


    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Salvar</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}