﻿@model Vidly.ViewModels.ClienteFormViewModel

@{
    ViewBag.Title = "NovoCliente";
}

@if (Model.Cliente == null || Model.Cliente.Id == 0)
{
    <h2>Novo Cliente</h2>
}
else
{
    <h2>Editar Cliente</h2>
}

@using (Html.BeginForm("SalvarCliente", "Clientes"))
{
    @Html.ValidationSummary(true, "Verificar campos faltantes.")

    <div class="form-group">
        @Html.LabelFor(m => m.Cliente.Nome)
        @Html.TextBoxFor(c => c.Cliente.Nome, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Cliente.Nome)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Cliente.TipoDeMembroId)
        @Html.DropDownListFor(m => m.Cliente.TipoDeMembroId, new SelectList(Model.TipoDeMembro, "Id", "Nome"), "Selecione o Tipo de Membro", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Cliente.TipoDeMembroId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Cliente.DataDeNascimento)
        @Html.TextBoxFor(m => m.Cliente.DataDeNascimento, "{0:dd MM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Cliente.DataDeNascimento)
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Cliente.InscritoParaNovasNoticias) Inscrito para novas notícias?
        </label>
    </div>

    @Html.HiddenFor(m => m.Cliente.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Salvar</button>
}

@section scripts{
        @Scripts.Render("~/bundles/jqueryval")
    }