﻿@model Vidly.Models.Cliente

@{
    ViewBag.Title = "Detalhar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Nome)</h2>
<ul>
    <li>Tipo De Membro: @Model.TipoDeMembro.Nome</li>
    @if (Model.DataDeNascimento != null)
    {
    <li>Data De Nascimento: @Html.DisplayFor(d => d.DataDeNascimento)</li>
    }

</ul>